@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.scrollbar {
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #3b3b3bd9 transparent; /* thumb color, track color */
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #d1d5db; /* gray-300 */
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af; /* gray-400 */
}

.markdown {
    @apply leading-relaxed text-gray-200;

    p {
        @apply my-3;
    }

    h1 {
        @apply text-3xl font-bold my-5;
    }

    h2 {
        @apply text-2xl font-semibold my-5;
    }

    h3 {
        @apply text-xl font-semibold my-2;
    }

    ul {
        @apply list-disc list-outside pl-6 mt-2 mb-4;
    }

    ol {
        @apply list-decimal list-outside pl-6 my-2;
    }

    li {
        @apply list-outside my-2;
    }

    a {
        @apply text-blue-400 underline hover:text-blue-300;
    }

    code {
        @apply bg-white/10 px-1 py-0.5 rounded font-mono text-sm;
    }

    pre div pre {
        @apply bg-white;
    }

    blockquote {
        @apply border-l-4 border-gray-600 pl-4 italic text-gray-400 my-4;
    }
}

.markdown pre > code {
    @apply block bg-transparent text-sm leading-relaxed;
}
